{% load static %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block css_files %}{% endblock css_files %}
</head>

<body>
    <!-- main menu -->
    <header id="main-menu">
        <h2><a href="{% url 'blog-home' %}">Arty's Blog</a></h2>
        <nav>
            <a href="{% url 'posts-page' %}">All posts</a>
        </nav>
    </header>

    {% block content %} {% endblock content %}
</body>

</html>